img {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

h1 {
    margin-left: 10px;
    font-family: Arial;
    font-weight: 700;
    color: #000000;
    font-size: 15pt;
}

.brand-logo {
    font-family: Arial;
    font-size: 18pt;
    color: #000000;
}